@import "../../../app.scss";

.special-plan-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 24px;
  width: 100%;
  box-shadow: 0px 0px 32px 0px rgba(174, 172, 243, 0.35);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(174, 172, 243, 0.35);
  -moz-box-shadow: 0px 0px 32px 0px rgba(174, 172, 243, 0.35);

  @include tablet {
    width: 280px;
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    &__content {
      flex-grow: 1;
    }

    hr {
      border: 1px solid #d7dbf5;
    }

    ul {
      padding-left: 1rem;

      li::marker {
        font-size: 1.5rem;
      }
    }

    &__first {
      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__cost {
        h6 {
          text-transform: uppercase;
          color: --lighter-blue-color;
          font-size: 0.75rem;
        }

        p {
          text-decoration: line-through;
          color: --lighter-blue-color;
        }

        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 0px 32px 0px rgba(174, 172, 243, 0.45);
    -webkit-box-shadow: 0px 0px 32px 0px rgba(174, 172, 243, 0.45);
    -moz-box-shadow: 0px 0px 32px 0px rgba(174, 172, 243, 0.45);
  }
}
